body{
    color: black;
    background-image: linear-gradient(to right, #0D324D,#7F5A83);
    margin: 0px;

}
.heading{
  text-align: center;
  color: #395B64;
}
h2{
  color: #7F5283;
  font-family: 'Montserrat', sans-serif;
}
hr {

  border-style: dotted none none;
  border-color: grey;
  border-width: 8px;
  width: 5%;
}
h1
{
  text-align: center;
  background-color: #704F4F;
  padding-top: 21px;
}
.hlink{
  color:#100720;
}
.content{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 0px;
}
nav{
    overflow: auto;
    background-image: linear-gradient(to right,#5f0f40,#310E68);
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar{
    overflow: auto;
    display: inline;
    padding: 0px;
    list-style: none;
}
.logo1{
    text-decoration: none;
    padding: 10px;
}
.logo1:hover{
    background-color: #d59bf6;
    border-radius: 10px;
    color: aliceblue;
    transition: 0.5s;
}
.logo{
    padding-left: 0px;
    float: left;
}
.opt1{
    text-decoration: none;
    padding: 10px;
}
.opt1:hover{
    background-color: #d59bf6;
    border-radius: 10px;
    color: aliceblue;
    transition: 0.5s;
    
}
.opt{
    display: inline;
    float: right;
    padding-left: 0px;
    font-size: larger;
    padding-left: 113px;
    padding-right: 14px;
    color: black;
}